<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/LOGO 3.png">
    <title>MUNDO CULINARIO</title>
    <link rel="stylesheet" href="/css/inicio.css">
</head>
<body>
    
    <header>

        <div class="container__menu">
            <div class="logo">
                <img src="/img/LOGO 3.png" alt="">
            </div>
            <div class="menu">
                <nav>
                    <ul>
                        <li><a href="/html/index.html" id="selected">Crear cuenta</a></li>
                        <li><a href="/html/iniciar.html" class="inicio">Iniciar sesión</a></li>
                    </ul>
                </nav>
            </div>
        </div>

    </header>

    <main>
        <div class="container__cover">
            <div class="cover">
                <div class="text">
                    <h1>Sistema Web Mundo Culinario</h1>

                    <p>La excelencia está en la diversidad y el modo de progresar es conocer y comparar las diversidades de productos,culturas y técnicas</p>

                    <input type="button" value="Bienvenido">
                </div>

                <div class="svg">
                    <img src="/img/cocinero.png" alt="">
                </div>
            </div>
        </div>
    </main>

</body>
</html>