<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/LOGO 3.png">
    <title>Recetas-MUNDO CULINARIO</title>

    <link rel="stylesheet" href="/css/card.css">
</head>
<body>
    <body>
        <div class="container">
            <div class="navbar">
                 <img src="/img/LOGO 3.png" class="logo" alt="Main logo">
                 
                 <ul>
                    <li><a href="/html/paginaprincipal.html">Inicio</a></li>
                    <li><a href="/html/recetas nutriconal.html">Recetas</a>
                        <ul>
                            <li><a href="/html/card.html">Nacionales</a></li>
                            <li><a href="/html/recetasnutricional.html">Nutricionales</a></li>
                            <li><a href="/html/recetastra.html">Tradicionales</a></li>
                            <li><a href="/html/postres.html">Postres</a></li>
                            <li><a href="/html/recetas.int.html">Internacionales</a></li>
                            <li><a href="/html/recetasexpress.html">Express</a></li>
                        </ul>
                    </li>
                    <li><a href="/html/consejos.html">Consejos</a>
                        <ul>
                            <li><a href="/html/addconsejo.html">Colaborar</a></li>
                            
                        </ul>
                    </li>    
                    <li><a href="/html/añadir_receta.html">Consejo receta</a></li>
                    <li><a href="/html/noticias.html">Noticias</a>
                        
                    </li>
                    
                </ul>
                <a href="/html/inicio.html"><img src="/img/icono cerrar sesion.png"  class="exit" alt=""> </a>
            </div>
    <main>

    <div>
        <h1 class="titulo">Recetas-Postres</h1>
    </div>
        <div class="container__card">

            <div class="card__father">
                <div class="card">
                    <div class="card__front" style="background-image: url(/img-nt/gomitas_portada.jpg);">
                        <div class="bg"></div>
                        <div class="body__card_front">
                            <h1>Gomitas de colores <br><br>----------------------------------------------------------<br><br>•ﾠﾠ8 g de polvo para gelatina ﾠﾠﾠﾠ
                                 ﾠﾠﾠ <br><br>•ﾠﾠ1 sobre de 140 g de grenetina en polvo sabor a piña <br><br>•ﾠﾠ200 g de azúcar <br><br>•ﾠﾠ250 ml de agua.<br><br>ﾠﾠ<br><br> <br><br>ﾠﾠ<br><br></h1>
                        </div>
                    </div>
                    <div class="card__back">
                        <div class="body__card_back">
                            <h1>Preparación</h1>
                            <p>-1. ﾠﾠCalienta el agua hasta que hierva y agrega el sobre de gelatina de piña, una vez que se tiene la grenetina hidratada, 
                                revuelve hasta lograr su total incorporación.<br>----------------------------------------------------------------------<br>
                            -2.ﾠﾠ Coloca el molde en una charola y llena con la gelatina. Incorpora el producto a 42°C para que no se formen demasiadas burbujas en el molde, 
                            refrigera por una hora y rectifica que las gomitas hayan cuajado perfectamente.<br>----------------------------------------------------------------------<br>
                            -3. ﾠﾠRetira las gomitas del molde y pasa las gomitas a un bowl con azúcar, espolvorea poco a poco con movimientos circulares para que se adhiera bien al azúcar, 
                            prepara paquetes pequeños de alrededor 10 a 15 gomas para que puedas venderlos fácilmente.<br>----------------------------------------------------------------------<br>
                            -4.ﾠﾠSi lo quieres presentar en un plato, usa uno rectangular y decora con flores comestibles al gusto.<br>----------------------------------------------------------------------<br>
                           </p>
                            
                        </div>
                    </div>
                </div>
            </div>

            <div class="card__father">
                <div class="card">
                    <div class="card__front" style="background-image: url(/img-nt/flan.jpg);">
                        <div class="bg"></div>
                        <div class="body__card_front">
                            <h1>Flan de queso <br><br>----------------------------------------------------------<br><br>•ﾠﾠ80 g de azúcar<br><br>•ﾠﾠ5 huevos
                                <br><br>•ﾠﾠ2 Cucharadas de aceite <br><br>•ﾠﾠ2 Tomates picados
                                <br><br>•ﾠﾠ5 ml de extracto de vainilla ﾠﾠﾠ<br><br>•ﾠﾠ290 ml de leche condensada
                                <br><br>•ﾠﾠ8 Tazas de
                                <br><br>•ﾠﾠ190 g de queso crema <br><br>•ﾠﾠ350 ml de leche evaporada.</h1>
                        </div>
                    </div>
                    <div class="card__back">
                        <div class="body__card_back">
                            <h1>Preparación</h1>
                            <p>1. En una cacerola funde el azúcar hasta obtener un caramelo, vacía la mezcla sobre el molde con el caramelo.<br>---------------------------------------------------------------------<br>
                            2. Vierte el caramelo sobre un molde para flan y cubre el fondo, licúa el resto de los ingredientes, vacía la mezcla sobre el molde con el caramelo, 
                            coloca el molde para flan en el inserto para baño maría y agrega agua.<br>---------------------------------------------------------------------<br>
                            3. Tapa con papel aluminio y cocina a baño maría en el horno, cocina durante 45 minutos o 1 hora, 
                            o hasta que al introducir un palillo en el centro y que este salga limpio.<br>---------------------------------------------------------------------<br>
                            4. Deja enfriar, luego desmolda. Refrigera durante mínimo dos horas antes de servir.
                           .<br>---------------------------------------------------------------------</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card__father">
                <div class="card">
                    <div class="card__front" style="background-image: url(/img-nt/chescake.jpg);">
                        <div class="bg"></div>
                        <div class="body__card_front">
                            <h1>Cheesecake congelado sin horno <br>------------------------------------------------------<br><br>•ﾠﾠ5250 g de galletas de vainilla o galletas dulces <br><br>
                                •ﾠﾠ130 g de mantequilla<br><br>
                                •ﾠﾠ135 g de queso crema, 100 g de leche condensada<br><br>
                                •ﾠﾠ14 g o 2 sobres de grenetina en polvo<br><br>
                                •ﾠﾠ40 g de azúcar glas<br><br>
                               </h1>
                        </div>
                    </div>
                    <div class="card__back">
                        <div class="body__card_back">
                            <h1>Preparación</h1>
                            <p>1. Funde la mantequilla y comienza por la base, para ello tritura las galletas y mezcla bien con la mantequilla hasta obtener una masa manejable. Las galletas las puedes triturar manualmente con un mortero, en un procesador de alimentos o dentro de una bolsa, 
                                presionando hasta hacerlas polvo con un rodillo.<br>----------------------------------------------------------------<br>
                            2. Cubre la base del molde con la mezcla de la galleta y la mantequilla, asegurándote de apretar lo suficiente para que quede condensada y bien distribuida por la base luego, 
                            deja enfriar mientras preparas el relleno.<br>----------------------------------------------------------------<br>
                            3. Mezcla la gelatina en polvo con el azúcar glas, añade 80 g de leche condensada y revuelve hasta disolver, calienta los 20 g de leche condensada restante con el queso crema. Cuando comience a tomar hervor, 
                            retira del fuego y agrega la mezcla con la grenetina.<br>----------------------------------------------------------------<br>
                            4. Rellena el molde con la mezcla y deja enfriar antes de introducirlo en la nevera. Espera a que se solidifique al menos durante un par de horas antes de desmoldar, 
                            agrege con la fruta al gusto, mermelada o lo que más te guste.<br>----------------------------------------------------------------<br>
                            5. Sirve frío.
                            <br>----------------------------------------------------------------</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </main>
    <footer>
        <div class="waves">
            <div class="wave" id="wave1"></div>
            <div class="wave" id="wave2"></div>
            <div class="wave" id="wave3"></div>
            <div class="wave" id="wave4"></div>
        </div>
        <div class="box">
            <figure class="iconos">
                <img class="redes" src="/img/icono_twiter.png" alt="">
                <img class="redes" src="/img/icono facebook.png" alt="">
                <img class="redes" src="/img/icono instagram.png" alt="">
                <img class="redes" src="/img/icono telegram.png" alt="">

            </figure>
        </div>
        <ul class="menu">
            <li><a>INICIO</a></li>
            <li><a>NOTICIAS</a></li>
            <li><a>CONTACTOS:</a>ㅤ0995321177</li>
        
        </ul>
        <p> ©2022 Grupo 6 |Content proyecto integrador-MA</p>
      </footer>
</body>
</html>