<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/LOGO 3.png">
    <title>Recetas-MUNDO CULINARIO</title>

    <link rel="stylesheet" href="/css/card.css">
</head>
<body>
    <body>
        <div class="container">
            <div class="navbar">
                 <img src="/img/LOGO 3.png" class="logo" alt="Main logo">
                 
                 <ul>
                    <li><a href="/html/paginaprincipal.html">Inicio</a></li>
                    <li><a href="/html/recetas nutriconal.html">Recetas</a>
                        <ul>
                            <li><a href="/html/recetas.Na.html">Nacionales</a></li>
                            <li><a href="/html/recetasnutricional.html">Nutricionales</a></li>
                            <li><a href="/html/recetastra.html">Tradicionales</a></li>
                            <li><a href="/html/postres.html">Postres</a></li>
                            <li><a href="/html/recetas.int.html">Internacionales</a></li>
                            <li><a href="/html/recetasexpress.html">Express</a></li>
                        </ul>
                    </li>
                    <li><a href="/html/consejos.html">Consejos</a>
                        <ul>
                            <li><a href="/html/addconsejo.html">Colaborar</a></li>
                            
                            
                        </ul>
                    </li>    
                    <<li><a href="/html/añadir_receta.html">Consejo receta</a></li>
                    <li><a href="/html/noticias.html">Noticias</a>
                        
                    </li>
                    
                </ul>
                <a href="/html/inicio.html"><img src="/img/icono cerrar sesion.png"  class="exit" alt=""> </a>
            </div>
    <main>

    <div>
        <h1 class="titulo">Recetas Express</h1>
    </div>
        <div class="container__card">

            <div class="card__father">
                <div class="card">
                    <div class="card__front" style="background-image: url(/img-nt/cevichochos.jpg);">
                        <div class="bg"></div>
                        <div class="body__card_front">
                            <h1>CEVICHOCHOS<br> Ingredientes:<br><br>----------------------------------------------------------<br><br>
                                ﾠﾠ■ 4 tomates grandes <br><br>
                                ﾠﾠ■ 1 cebolla morada <br><br>
                                ﾠﾠ■ jugo de limón <br><br>
                                ﾠﾠ■ jugo de una naranja <br><br>
                                ﾠﾠ■ 4 cucharadas de salta de tomate <br><br>
                                ﾠﾠ■ 1 cucharatida de mostaza <br><br>
                                ﾠﾠ■ cilantro picao finamente <br><br>
                                ﾠﾠ■ 4 tazas de chochos previamente lavados <br><br>
                                ﾠﾠ■ sal y pimienta al gusto <br><br>
                            </h1>
                        </div>
                    </div>
                    <div class="card__back">
                        <div class="body__card_back">
                            <h1>Preparación</h1>
                            <p>1. Cocina los tomaster por 30 segundos, luego de esto pongos en agua fria y quitale la cascara a los tomates <br><br>
                                
                                2. Licua 3 tomates y cola los tomates, el toma restante cortalo en cubiotos y reservar para masta tarde.<br><br>
                                
                                3. Pica la cebolla en juliana y curtela en agua con un poco de azucar, luego mezcla con el tomate y el cilatro<br><br>
                                
                                4. Mezcla el jugo de tomate con el sumo de limo, naranja y agrega la salsa de tomate y la mostaza, mecla todo muy bien.<br><br>
                                
                                5. Junta todos los ingredientes y mezclalos bien, se recomiendo dejar un par de minutos en el refri.</p>
                            
                        </div>
                    </div>
                </div>
            </div>

            <div class="card__father">
                <div class="card">
                    <div class="card__front" style="background-image: url(/img-nt/tortilla\ española.jpg);">
                        <div class="bg"></div>
                        <div class="body__card_front">
                            <h1>TORTA ESPAÑOLA<br>Ingredientes:<br><br>----------------------------------------------------------<br><br>
                                ■ 6 huevos <br><br>
                                ■ 3 papas <br><br>
                                ■ 1 cebolla pequeña <br><br>
                                ■ 1 pimiento verde <br><br>
                                ■ aceite, sal y pienta al gusto <br><br>
                                ■ 1 par de hojas de perejil <br><br>
                                </h1>
                        </div>
                    </div>
                    <div class="card__back">
                        <div class="body__card_back">
                            <h1>Preparación</h1>
                            <p>1. Pela y pica la cebolla en cubitos. De igual manera limpia y pica el pimiento.<br><br>
                                 
                                2. Pela y corta las papas por la mitad a lo largo y después corta cada trozo en medias lunas finas de 1/2 centímetros.<br><br>                               
                                3. Mezcla todo en un sartén, sazona a tu gusto y fríe a fuego bajo durante 25-30 min.<br><br>
                                4. Retira lo del sarte y mezcla en un recipiente aparte con unos 3 huevos batidos.<br><br>                                
                                5. Coloca la sartén nuevamente en el fuego, y agrega la mezcla, agrega poco aceite y ve moviendo de a poco.<br><br>                                 
                                7. Da la vuelta a la torta de la mejor manera posible, puedes usar un plato para ayudarte.<br><br>
                                </p>
                            
                        </div>
                    </div>
                </div>
            </div>

            <div class="card__father">
                <div class="card">
                    <div class="card__front" style="background-image: url(/img-nt/ensalada\ de\ pasta\ con\ atun.jpg);">
                        <div class="bg"></div>
                        <div class="body__card_front">
                            <h1>ENSALADA DE PASTA CON ATUN<br>Ingredientes:<br><br>----------------------------------------------------------<br><br>
                                ■ 1/4 taza de mayonesa light <br><br>
                                ■ 1 taza de de pasta o fideos <br><br>
                                ■ 1 taza de guisantes al gusto <br><br>
                                ■ 1 lata de atún blanco en agua  <br><br>
                                ■ 1/2 taza de cebolla morada picada <br><br>
                                </h1>
                        </div>
                    </div>
                    <div class="card__back">
                        <div class="body__card_back">
                            <h1>Preparación</h1> 
                            <p>1. Coloca la pasta o fideos en un reciente grande.<br><br> 
                                2. Agrega los guisantes a la pasta y mezclalos ligeramente.<br><br> 
                                3. Mezcla la mayonera con el atun aparte y luego incorporalo a la mezcla de los fideos<br><br> 
                                4. Por a reposar la ensada en el refrigerador por unos 30 minutos antes de servirlo<br><br>
                            </p>
                            
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </main>
    <footer>
        <div class="waves">
            <div class="wave" id="wave1"></div>
            <div class="wave" id="wave2"></div>
            <div class="wave" id="wave3"></div>
            <div class="wave" id="wave4"></div>
        </div>
        <div class="box">
            <figure class="iconos">
                <img class="redes" src="/img/icono_twiter.png" alt="">
                <img class="redes" src="/img/icono facebook.png" alt="">
                <img class="redes" src="/img/icono instagram.png" alt="">
                <img class="redes" src="/img/icono telegram.png" alt="">

            </figure>
        </div>
        <ul class="menu">
            <li><a>INICIO</a></li>
            <li><a>NOTICIAS</a></li>
            <li><a>CONTACTOS:</a>ㅤ0995321177</li>
        
        </ul>
        <p> ©2022 Grupo 6 |Content proyecto integrador-MA</p>
      </footer>
</body>
</html>