<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/LOGO 3.png">
    <title>Recetas-MUNDO CULINARIO</title>

    <link rel="stylesheet" href="/css/card.css">
</head>
<body>
    <body>
        <div class="container">
            <div class="navbar">
                 <img src="/img/LOGO 3.png" class="logo" alt="Main logo">
                 
                 <ul>
                    <li><a href="/html/paginaprincipal.html">Inicio</a></li>
                    <li><a href="/html/recetas nutriconal.html">Recetas</a>
                        <ul>
                            <li><a href="/html/card.html">Nacionales</a></li>
                            <li><a href="/html/recetasnutricional.html">Nutricionales</a></li>
                            <li><a href="/html/recetastra.html">Tradicionales</a></li>
                            <li><a href="/html/postres.html">Postres</a></li>
                            <li><a href="/html/recetas.int.html">Internacionales</a></li>
                            <li><a href="/html/recetasexpress.html">Express</a></li>
                        </ul>
                    </li>
                    <li><a href="/html/consejos.html">Consejos</a>
                        <ul>
                            <li><a href="/html/addconsejo.html">Colaborar</a></li>
                            
                            
                        </ul>
                    </li>    
                    <li><a href="/html/añadir_receta.html">Consejo receta</a></li>
                    <li><a href="/html/noticias.html">Noticias</a>
                        
                    </li>
                    
                </ul>
                <a href="/html/inicio.html"><img src="/img/icono cerrar sesion.png"  class="exit" alt=""> </a>
            </div>
    <main>

    <div>
        <h1 class="titulo">Recetas Tradicionales</h1>
    </div>
        <div class="container__card">

            <div class="card__father">
                <div class="card">
                    <div class="card__front" style="background-image: url(/img-nt/chorizo.jpg);">
                        <div class="bg"></div>
                        <div class="body__card_front">
                            <h1>Lentejas con chorizo<br><br>----------------------------------------------------------<br>
                                <br>•ﾠﾠvaso de lentejas (225 g) <br>•ﾠﾠ100 g de chorizo <br>•ﾠﾠ1 cebolla
                                <br>•ﾠﾠ1 zanahoria <br>•ﾠﾠ4 dientes de ajo <br>•ﾠﾠsal 
                                <br>•ﾠﾠ1/2 cucharadita de pimentón dulce <br>•ﾠﾠ1 hoja de laurel</h1>
                        </div>
                    </div>
                    <div class="card__back">
                        <div class="body__card_back">
                            <h1>Preparación</h1><br>----------------------------------------------------------<br>
                            <p>1. Pela la zanahoria, la cebolla y los dientes de ajo.Corta el chorizo en 4 trozos.<br>----------------------------------------------------------<br>
                                    2. Pon las lentejas en la olla rápida. Agrega todo a la olla y añade la hoja de laurel. Vierte 3 vasos (3/4 de l) de agua fría, añade sal a tu gusto y la media cucharadita de pimentón dulce.<br>----------------------------------------------------------<br>
                                    3. Cuando empiece a hervir, pon la tapa y ciérrala (posición 2). Cuando suba el indicador de la presión (el pitorro), deja cocer durante 8 minutos. Apaga el fuego, mueve el mando (con mucho cuidado de no quemarte) a la posición "eliminar presión". Espera a que salga todo el vapor y ábrela. Si no tienes olla a presión, la cantidad de agua es de 5 vasos y el tiempo de cocción de 40-45 minutos. Lentejas con chorizo - Paso 4Retira la hoja de laurel y pasa la cebolla, la zanahoria y los dientes de ajo al vaso de la batidora y trituracon la batidora eléctrica.<br>----------------------------------------------------------<br>
                                    4. Vierte el puré a la olla de lentejas, mezcla bien y sirve.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card__father">
                <div class="card">
                    <div class="card__front" style="background-image: url(/img-nt/albondigas.webp);">
                        <div class="bg"></div>
                        <div class="body__card_front">
                            <h1>Albóndigas en salsa de tomate<br><br>----------------------------------------------------------<br><br>•ﾠﾠ500 gr de carne de ternera picada 
                                <br>•ﾠﾠ100 gr de carne de cerdo picada <br>•ﾠﾠ100 gr de miga de pan <br>•ﾠﾠ1 huevo 
                                <br>•ﾠﾠ4 dientes de ajo <br>•ﾠﾠ1 kg de tomates <br>•ﾠﾠ1 cebollaharina (para rebozar)
                                <br>•ﾠﾠ1/2 vaso de leche <br>•ﾠﾠ1 cucharadita de azúcar <br>•ﾠﾠaceite de oliva virgen extra
                                <br>•ﾠﾠsal <br>•ﾠﾠ2 cucharadas de salsa de soja <br>•ﾠﾠperejil</h1>
                        </div>
                    </div>
                    <div class="card__back">
                        <div class="body__card_back">
                            <h1>Preparación</h1><br>----------------------------------------------------------<br>
                            <p>1. Pon la miga de pan en un cuenco, vierte la leche y deja que se empape bien. Para hacer la salsa de tomate, pica la cebolla y los otros 2 dientes de ajo y ponlos a pochar en una cazuela con un chorrito de aceite. Pica los tomates, agrégalos a la cazuela y cocínalos durante 25-30 minutos con el azúcar a fuego medio. Añade la salsa de soja, mezcla y pasa todo por el pasapurés.<br>----------------------------------------------------------<br>
                                    2. Pela y pica 2 dientes de ajo y mézclalos en un cuenco con la carne picada de cerdo y de ternera, el huevo y un poco de perejil picado. Sazona y amasa hasta que quede una mezcla homogénea. Añade la miga escurrida y mezcla. Forma las albóndigas, pásalas por harina y dóralas en una sartén con abundante aceite caliente. Reserva en una fuente con papel absorbente para eliminar el exceso de aceite.<br>----------------------------------------------------------<br>
                                    3. Coloca la salsa de tomate en la cazuela. Introduce las albóndigas y cocínalas durante 8-10 minutosa fuego suave. Sirve y decora con una ramita de perejil.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card__father">
                <div class="card">
                    <div class="card__front" style="background-image: url(/img-nt/croqueta.jpg);">
                        <div class="bg"></div>
                        <div class="body__card_front">
                            <h1>Croquetas de jamón<br> <br>----------------------------------------------------------<br><br>•ﾠﾠ200 g de jamón serrano <br>•ﾠﾠ1 cebolleta <br>•ﾠﾠ1 diente de ajo
                                <br>•ﾠﾠ100 g de harina <br>•ﾠﾠ100 g de mantequilla (o 100 ml de aceite de oliva virgen extra)
                                <br>•ﾠﾠ1 l de lecheperejil <br>•ﾠﾠPara rebozar y freír <br>•ﾠﾠharina <br>•ﾠﾠ3 huevos batidos <br>•ﾠﾠpan rallado 
                                <br>•ﾠﾠaceite de oliva <br>•ﾠﾠvirgen extra</h1>
                        </div>
                    </div>
                    <div class="card__back">
                        <div class="body__card_back">
                            <h1>Preparación</h1><br>----------------------------------------------------------<br>
                            <p>1. Corta la mantequilla en dados y ponla a derretir en una cazuela. Pica finamente la cebolleta y el diente de ajo y añádelos a la cazuela. Rehoga durante 5-6 minutos, incorpora el jamón picado y saltéalo.Añade la harina y rehoga bien. Vierte la leche poco a poco, sin dejar de remover. Cocina la bechamel durante 20 minutos aproximadamente removiendo constantemente. Espolvorea con perejil picado.<br>----------------------------------------------------------<br>
                                    2.Extiende la masa sobre una fuente. Unta la superficie con un poco de mantequilla para que no se haga costra o cubre con papel film y déjala enfriar. Cuando la masa esté fría, corta y moldea las croquetas.<br>----------------------------------------------------------<br>
                                    3.Enharina, pasa por huevo y pan rallado y fríelas en aceite bien caliente. Cuando estén hechas, retíralas de la sartén y ponlas a escurrir el exceso de aceite sobre un plato cubierto con papel de cocina.<br>----------------------------------------------------------<br>
                                    4. sirve las croquetas de jamón</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </main>
    <footer>
        <div class="waves">
            <div class="wave" id="wave1"></div>
            <div class="wave" id="wave2"></div>
            <div class="wave" id="wave3"></div>
            <div class="wave" id="wave4"></div>
        </div>
        <div class="box">
            <figure class="iconos">
                <img class="redes" src="/img/icono_twiter.png" alt="">
                <img class="redes" src="/img/icono facebook.png" alt="">
                <img class="redes" src="/img/icono instagram.png" alt="">
                <img class="redes" src="/img/icono telegram.png" alt="">

            </figure>
        </div>
        <ul class="menu">
            <li><a>INICIO</a></li>
            <li><a>NOTICIAS</a></li>
            <li><a>CONTACTOS:</a>ㅤ0995321177</li>
        
        </ul>
        <p> ©2022 Grupo 6 |Content proyecto integrador-MA</p>
      </footer>
</body>
</html>