<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/LOGO 3.png">
    <title>Recetas-MUNDO CULINARIO</title>

    <link rel="stylesheet" href="/css/card.css">
</head>
<body>
    <body>
        <div class="container">
            <div class="navbar">
                 <img src="/img/LOGO 3.png" class="logo" alt="Main logo">
                 
                 <ul>
                    <li><a href="/html/paginaprincipal.html">Inicio</a></li>
                    <li><a href="/html/recetas nutriconal.html">Recetas</a>
                        <ul>
                            <li><a href="/html/card.html">Nacionales</a></li>
                            <li><a href="/html/recetasnutricional.html">Nutricionales</a></li>
                            <li><a href="/html/recetastra.html">Tradicionales</a></li>
                            <li><a href="/html/postres.html">Postres</a></li>
                            <li><a href="/html/recetas.int.html">Internacionales</a></li>
                            <li><a href="/html/recetasexpress.html">Express</a></li>
                        </ul>
                    </li>
                    <li><a href="/html/consejos.html">Consejos</a>
                        <ul>
                            <li><a href="/html/addconsejo.html">Colaborar</a></li>
                            
                            
                        </ul>
                    </li>    
                    <li><a href="/html/añadir_receta.html">Consejo receta</a></li>
                    <li><a href="/html/noticias.html">Noticias</a>
                        
                    </li>
                    
                </ul>
                <a href="/html/inicio.html"><img src="/img/icono cerrar sesion.png"  class="exit" alt=""> </a>
            </div>
    <main>

    <div>
        <h1 class="titulo">Recetas Nutricionales</h1>
    </div>
        <div class="container__card">

            <div class="card__father">
                <div class="card">
                    <div class="card__front" style="background-image: url(/img-nt/sopita\ de\ verduras.jpg);">
                        <div class="bg"></div>
                        <div class="body__card_front">
                            <h1>Sopa de verduras<br><br>----------------------------------------------------------<br><br> •ﾠﾠ1 Calabacín pequeño <br>•ﾠﾠ100 gr de calabaza <br>•ﾠﾠ2 Zanahorias medianas,
                                <br>•ﾠﾠ1 puñado de vainas picadas <br>•ﾠﾠvarias hojas de espinacas<br> •ﾠﾠ1/2 Cebolla •ﾠﾠ1 Guindilla picante  
                                 opcional <br>•ﾠﾠ2 tallos de cebolla verde cebollino<br> •ﾠﾠverdeo <br>•ﾠﾠ1 tallo mediano de apio con sus hojas
                                 <br>•ﾠﾠvarias hojas de cilantro <br>•ﾠﾠvarias hojas de perejil<br> •ﾠﾠ4 hojas de yerbabuena pocas
                                 <br>•ﾠﾠaceite de oliva al gusto<br> •ﾠﾠsal al gusto<br> •ﾠﾠPimienta al gusto <br>•ﾠﾠ100 gr de panceta</h1>
                        </div>
                    </div>
                    <div class="card__back">
                        <div class="body__card_back">
                            <h1>Preparación</h1><br>----------------------------------------------------------<br>
                            <p>1. Pica todos los vegetales en cubos medianos/pequeños. 
                                Las hierbas y espinacas trocéalas indiscriminadamente, del
                                 tamaño que quieras.<br>----------------------------------------------------------------------<br>
                                2. Pon en una olla a calentar dos cucharadas de aceite de oliva. Procede a sofreír la cebolla y la panceta (tocinetpor un par de minutos.
                                <br>----------------------------------------------------------------------<br>
                                 3. Agrega la zanahoria, apio, cebolla verde y la guindilla.<br>----------------------------------------------------------------------<br>
                                4. Sigue revolviendo y agrega las vainas.<br>----------------------------------------------------------------------<br>
                                5. Ahora le toca el turno a la calabaza y el calabacín.<br>----------------------------------------------------------------------<br>
                                 6. Agrega bastante agua. Aproximadamente de litro y medio a 2 litros. Condimenta con sal, pimienta y orégano.<br>----------------------------------------------------------------------<br>
                                7. Deja cocinar por unos 20 minutos. Prueba que la calabaza, calabacín y zanahoria estén listos. De ser así, agrégale las hierbas: cilantro, perejil, yerbabuena y las espinacas. Revisa que esté bien de sal.<br>----------------------------------------------------------------------<br>
                            
                                
                                9. Puedes agregarle queso parmesano, le da un toque de sabor bastante rico.</p>

                        </div>
                    </div>
                </div>
            </div>

            <div class="card__father">
                <div class="card">
                    <div class="card__front" style="background-image: url(/img-nt/pancito.jpg);">
                        <div class="bg"></div>
                        <div class="body__card_front">
                            <h1>Pan sin Gluten<br><br>----------------------------------------------------------<br><br>•ﾠﾠ300 gramos de harina de almendras <br>•ﾠﾠ2 bananas trituradas o 2 
                                calabacines rallados <br>•ﾠﾠ2 huevos<br> •ﾠﾠuna pizca de sal <br>•ﾠﾠuna cucharadita de polvo para
                                 hornear (hay versiones con y sin gluten, cuidado)<br>•ﾠﾠun cuarto de taza de leche de
                                  almendras o avellanas <br>•ﾠﾠaceite de coco <br>•ﾠﾠcuatro cucharadas de miel orgánica opcional</h1>
                        </div>
                    </div>
                    <div class="card__back">
                        <div class="body__card_back">
                            <h1>Preparación</h1><br>----------------------------------------------------------<br>
                            <p>1. Antes que nada, precalienta tu horno a 200°C unos 20 minutos.<br>----------------------------------------------------------<br>
                            2. Engrasa un molde para hornear pan con el aceite de coco.<br>----------------------------------------------------------<br>
                            3. Mezcla los ingredientes secos: la harina de almendras con el polvo y la pizca de sal.<br>----------------------------------------------------------<br>
                            4. En un recipiente distinto, comienza batiendo los huevos por unos 5 a 10 minutos hasta que su color se esclarezca, luego agrega el resto de los ingredientes líquidos hasta lograr una mezcla homogénea.<br>----------------------------------------------------------<br>
                            5. Coloca la mezcla líquida en la mezcla seca y comienza a revolver. Obtendrás una mezcla un poco seca, pero con la humedad de la banana o el calabacín, obtendrás un fresco y suave pan.<br>----------------------------------------------------------<br>
                            6. Vierte todo en el molde y espárcelo de manera equitativa. Hornea por unos 35 - 40 minutos, hasta que veas que su superficie se dore.<br>----------------------------------------------------------<br>
                            7. Déjalo enfriar a temperatura ambiente y estará listo para servir.</p>

                        </div>
                    </div>
                </div>
            </div>

            <div class="card__father">
                <div class="card">
                    <div class="card__front" style="background-image: url(/img-nt/salmonen.jpg);">
                        <div class="bg"></div>
                        <div class="body__card_front">
                            <h1>Salmon salsa Verde<br><br>----------------------------------------------------------<br><br>•ﾠﾠ2 dientes de ajo <br>•ﾠﾠvarias hojas de perejil fresco 
                                <br>•ﾠﾠ1 cebolla pequeña, aceite de oliva, una pizca de sal, 1/2 copita de vino blanco
                                <br>•ﾠﾠun toque de pimienta negra recién molida 
                                <br>•ﾠﾠ2 filetes de pescado blanco (merluza, curvina, mero)</h1>
                        </div>
                    </div>
                    <div class="card__back">
                        <div class="body__card_back">
                            <h1>Preparación</h1><br>----------------------------------------------------------<br>
                            <p>1. Mezcla el perejil, la cebolla, el ajo, sal, y pimienta en un procesador de alimentos/picadora.<br>----------------------------------------------------------<br>
                            2. Pon a cocinar la salsa a fuego medio durante 20 minutos aproximadamente.<br>----------------------------------------------------------<br>
                            3. A mitad de cocción échale el vino blanco.<br>----------------------------------------------------------<br>
                            4. A medida que se cocina vas probándola para corregir sal.<br>----------------------------------------------------------<br>
                            Salmon:<br>----------------------------------------------------------<br>
                            1. Salpimienta los filetes de pescado<br>----------------------------------------------------------<br>
                            2. Pásalos por harina de trigo<br>----------------------------------------------------------<br>
                            3. Fríelos en aceite vegetal.<br>----------------------------------------------------------<br>
                            4. Sirve el pescado y báñalo con la salsa verde hecha previamente.</p>

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </main>
    <footer>
        <div class="waves">
            <div class="wave" id="wave1"></div>
            <div class="wave" id="wave2"></div>
            <div class="wave" id="wave3"></div>
            <div class="wave" id="wave4"></div>
        </div>
        <div class="box">
            <figure class="iconos">
                <img class="redes" src="/img/icono_twiter.png" alt="">
                <img class="redes" src="/img/icono facebook.png" alt="">
                <img class="redes" src="/img/icono instagram.png" alt="">
                <img class="redes" src="/img/icono telegram.png" alt="">

            </figure>
        </div>
        <ul class="menu">
            <li><a>INICIO</a></li>
            <li><a>NOTICIAS</a></li>
            <li><a>CONTACTOS:</a>ㅤ0995321177</li>
        
        </ul>
        <p> ©2022 Grupo 6 |Content proyecto integrador-MA</p>
      </footer>
</body>
</html>