{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static '/img/LOGO 3.png' %}">
    <title>Mundo Culinarios//trucos culinarios</title>
    <link rel="stylesheet" href="{% static '/css/mainconsejos.css' %}">
</head>
<body>
    <body>
        <div class="container">
            <div class="navbar">
                <img src="{% static '/img/LOGO 3.png' %}" class="logo" alt="Main logo">
                 
                 <ul>
                    <li><a href="/consejos/paginaprincipal/">Inicio</a></li>
                    <li><a href="/consejos/recetasnutricional/">Recetas</a>
                        <ul>
                            <li><a href="/consejos/card/">Nacionales</a></li>
                            <li><a href="/consejos/recetasnutricional/">Nutricionales</a></li>
                            <li><a href="/consejos/recetastra/">Tradicionales</a></li>
                            <li><a href="/consejos/postres/">Postres</a></li>
                            <li><a href="/consejos/recetasint/">Internacionales</a></li>
                            <li><a href="/consejos/recetasexpress/">Express</a></li>
                        </ul>
                    </li>
                    <li><a href="/consejos/consejos/">Consejos</a>
                        <ul>
                            <li><a href="/consejos/">Colaborar</a></li>
                            
                        </ul>
                    </li>  
                    <li><a href="/consejos/addreceta/">Consejo receta</a></li>
                    <li><a href="/consejos/noticias/">Noticias</a>
                    </li>
                    
                    
                </ul>
                <a href="/consejos/inicio/"><img src="{% static 'img/icono cerrar sesion.png' %}"  class="exit" alt=""> </a>
            </div>
    <div class="articulos">
        <div class="contenido">
            <div>
    
               <h1 class="titulo"></h1>
               <h2 class="subtitulo">Una buena nutrición es clave para desarrollar inmunidad, protegernos contra las enfermedades.</h2>
               <div align="center"><img src="{% static '/img/newimagen2.png' %}" class="noticia1"></div>
               <p class="contenido2">Como un factor protector para la salud se recomienda mantener una alimentación.<br><br>

               Algunas recomendaciones nutricionales son las siguientes:<br> <br>
               <b>1. CONSUMA AL MENOS 5 PORCIONES DE FRUTAS Y VEGETALES DIARIAMENTE</b><br><br>
               Consuma al menos 5 porciones entre frutas y vegetales al día, de distintos colores<br> <br>
               2. <b>INCLUYA EN SU DIETA LEGUMINOSAS, CEREALES Y VERDURAS HARINOSAS</b><br><br>
               Consuma diariamente leguminosas tales como frijoles, garbanzos, lentejas y cereales (preferiblemente integrales: arroz, pasta, galletas integrales).<br><br>
               3. <b>PRODUCTOS DE ORIGEN ANIMAL<br><br>
               Consuma diariamente lácteos tales como leche, queso y yogurt preferiblemente bajos en grasa. Incluya el huevo en su alimentación por su alto valor nutritivo. Si no tiene problemas de colesterol alto, puede consumir un huevo diario.</b><br><br>
               4. <b>REDUZCA EL CONSUMO DE SAL / SODIO</b><br><br>
               Disminuir la cantidad de sal y de ingredientes con un alto contenido de sodio.<br><br>
               <div class="container1">
            
                
               
           </div>        
        </div>
    </div>
       
    </div>
    


      <!-- Pie de pagina-->

      <footer>
        <div class="waves">
            <div class="wave" id="wave1"></div>
            <div class="wave" id="wave2"></div>
            <div class="wave" id="wave3"></div>
            <div class="wave" id="wave4"></div>
        </div>
        <div class="box">
            <figure class="iconos">
                <img class="redes" src="{% static '/img/icono_twiter.png' %}" alt="">
                <img class="redes" src="{% static '/img/icono facebook.png' %}" alt="">
                <img class="redes" src="{% static '/img/icono instagram.png' %}" alt="">
                <img class="redes" src="{% static '/img/icono telegram.png' %}" alt="">

            </figure>
        </div>
        <ul class="menu">
            <li><a>INICIO</a></li>
            <li><a>NOTICIAS</a></li>
            <li><a>CONTACTOS:</a>ㅤ0995321177</li>
        </ul>
        <p> ©2022 Grupo 6 |Content proyecto integrador-MA</p>
      </footer>
</body>
</html>