<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/LOGO 3.png">
    <title>TOP-MUNDO CULINARIO</title>

    <link rel="stylesheet" href="/css/top.css">
</head>
<body>
    <body>
        <div class="container">
            <div class="navbar">
                 <img src="/img/LOGO 3.png" class="logo" alt="Main logo">
                 
                 <ul>
                    <li><a href="/html/paginaprincipal.html">Inicio</a></li>
                    <li><a href="/html/recetas nutriconal.html">Recetas</a>
                        <ul>
                            <li><a href="/html/card.html">Nacionales</a></li>
                            <li><a href="/html/recetasnutricional.html">Nutricionales</a></li>
                            <li><a href="/html/recetastra.html">Tradicionales</a></li>
                            <li><a href="/html/postres.html">Postres</a></li>
                            <li><a href="/html/recetas.int.html">Internacionales</a></li>
                            <li><a href="/html/recetasexpress.html">Express</a></li>
                        </ul>
                    </li>
                    <li><a href="/html/consejos.html">Consejos</a>
                        <ul>
                            <li><a href="/html/addconsejo.html">Colaborar</a></li>
                            
                            
                        </ul>
                    </li>    
                    <li><a href="/html/top.html">Consejo receta</a></li>
                    <li><a href="/html/noticias.html">Noticias</a>
                        
                    </li>
                    
                    
                </ul>
                <a href="/html/inicio.html"><img src="/img/icono cerrar sesion.png"  class="exit" alt=""> </a>
            </div>

            <div>
                <img src="/img/top.png" class="top">
                <h1 class="tituloprincipal">Recetas con mejor calificación</h1>
                <p class="texto">En esta seccion ustd podrá encontrar algunas de las recetas con mejor <br>puntuación de estrellas</p>
            </div>
    
            <div class="container__card">

                <div class="card__father">
                    <div class="card">
                        <div class="card__front" style="background-image: url(/img-nt/hornado.png);">
                            <div class="bg"></div>
                            <div class="body__card_front">
                                <h1>HORNADO <br><br>----------------------------------------------------------<br><br>•ﾠﾠ5 libras de carne de chancho si es de la ﾠﾠﾠﾠpierna y aún
                                    tiene la piel el cuero mucho ﾠﾠﾠmejor <br><br>•ﾠﾠ2 Cucharas soperas de Sal <br><br>•ﾠﾠ1 Cuchara sopera
                                    de pimienta molida <br><br>•ﾠﾠ2 1/2 Cucharas de comino <br><br>•ﾠﾠDientes de ajo machacados <br><br>•ﾠﾠ1
                                    Lata de cerveza a elección <br><br>•ﾠﾠAchote líquido<br><br></h1>
                            </div>
                        </div>
                        <div class="card__back">
                            <div class="body__card_back">
                                <h1>Preparación</h1>
                                <p>-1. ﾠﾠUnimos las especies Sal, Pimienta y Comino en un recipiente y mezclamos bien
                                    con la ayuda de una cuchara.<br>----------------------------------------------------------------------<br>
                                -2.ﾠﾠ Quitamos la piel por un momento y abrimos la carne para poder adobar,
                                    intentando que la pieza de carne no se pierda la forma untamos toda la carne por
                                    todos lados con la mezcla de sal, pimienta, comino y dejamos reposar por 20
                                    minutos.<br>----------------------------------------------------------------------<br>
                                -3. ﾠﾠLuego de los 20 minutos ahora adobamos nuestra carne con el ajo machacado por
                                    todos lados.<br>----------------------------------------------------------------------<br>
                                -4.ﾠﾠPonemos nuestra carne con la piel ya adobadas y tapamos con papel film si el
                                    bol no tiene tapa y dejamos reposar 24 horas para que el aliño penetre en la
                                    carne y dejamos en la nevera.<br>----------------------------------------------------------------------<br>
                                -5.ﾠﾠLuego de pasadas las 24 horas añadimos a nuestra carne para el Hornado una
                                    lata de cerveza procurando bañar toda la carne con ella.<br>----------------------------------------------------------------------<br>
                                -6.ﾠﾠUna vez hayamos colocado la cerveza dejamos reposar durante 6 horas pero cada
                                    2 horas debemos volver a rebañar la carne para que se empape nuevamente.</p>
                                <input type="button" value="Añadir a Favoritos">
                                <form>
                                    <p class="clasificacion">
                                      <input id="radio1" type="radio" name="estrellas" value="5"><!--
                                      --><label for="radio1">★</label><!--
                                      --><input id="radio2" type="radio" name="estrellas" value="4"><!--
                                      --><label for="radio2">★</label><!--
                                      --><input id="radio3" type="radio" name="estrellas" value="3"><!--
                                      --><label for="radio3">★</label><!--
                                      --><input id="radio4" type="radio" name="estrellas" value="2"><!--
                                      --><label for="radio4">★</label><!--
                                      --><input id="radio5" type="radio" name="estrellas" value="1"><!--
                                      --><label for="radio5">★</label>
                                    </p>
                                  </form>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="card__father">
                    <div class="card">
                        <div class="card__front" style="background-image: url(/img-nt/encebollado\ 2.jpg);">
                            <div class="bg"></div>
                            <div class="body__card_front">
                                <h1>ENCEBOLLADO <br><br>----------------------------------------------------------<br><br>•ﾠﾠ2 Libras de atún fresco<br><br>•ﾠﾠ1 Libra de yuca fresca o congelada
                                    <br><br>•ﾠﾠ2 Cucharadas de aceite <br><br>•ﾠﾠ2 Tomates picados
                                    ½ cebolla picada <br><br>•ﾠﾠ1 Cucharadita de aji no picante en
                                    polvo ﾠﾠﾠse puede usar pimentón molido <br><br>•ﾠﾠ2 Cucharaditas de comino molido
                                    <br><br>•ﾠﾠ8 Tazas de
                                    agua <br><br>•ﾠﾠ5 Ramitas de cilantro o culantro <br><br>•ﾠﾠSal al gusto.</h1>
                            </div>
                        </div>
                        <div class="card__back">
                            <div class="body__card_back">
                                <h1>Preparación</h1>
                                <p>1. Prepare un refrito con la cebolla, el tomate, al comino, el aji y la sal.<br>---------------------------------------------------------------------<br>
                                    2. Añada el agua y las ramitas de cilantro.<br>---------------------------------------------------------------------<br>
                                    3. Añada el atún cuando el agua empiece a hervir, cocine hasta que el atún esté
                                        listo, aproximadamente unos 15 minutos.<br>---------------------------------------------------------------------<br>
                                    4. Encienda el caldo donde se cocinó el agua y guárdelo para cocinar la yuca.
                                    5. USepare el atún en lonjas, guarde para añadir más tarde. <br>---------------------------------------------------------------------<br>
                                    6. Haga hervir el caldo de atún y añada las yucas, cocine hasta que estén suaves.<br>---------------------------------------------------------------------<br>
                                    7. Saque las yucas y córtelos en pedazos pequeños.<br>---------------------------------------------------------------------<br>
                                    8. Vuelva a poner las yucas picadas y las lonjas de atún en el caldo, rectifique
                                        la sal y caliente hasta que esté listo para servir. <br>---------------------------------------------------------------------<br>
                                    9. Para servir el encebollado de pescado se pone una buena porción del curtido de
                                        cebolla y tomate encima de cada plato de sopa.<br>---------------------------------------------------------------------</p>
                                <input type="button" value="Añadir a Favoritos">
                                <form>
                                    <p class="clasificacion">
                                      <input id="radio1" type="radio" name="estrellas" value="5"><!--
                                      --><label for="radio1">★</label><!--
                                      --><input id="radio2" type="radio" name="estrellas" value="4"><!--
                                      --><label for="radio2">★</label><!--
                                      --><input id="radio3" type="radio" name="estrellas" value="3"><!--
                                      --><label for="radio3">★</label><!--
                                      --><input id="radio4" type="radio" name="estrellas" value="2"><!--
                                      --><label for="radio4">★</label><!--
                                      --><input id="radio5" type="radio" name="estrellas" value="1"><!--
                                      --><label for="radio5">★</label>
                                    </p>
                                  </form>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="card__father">
                    <div class="card">
                        <div class="card__front" style="background-image: url(/img-nt/cladode´patas.jpg);">
                            <div class="bg"></div>
                            <div class="body__card_front">
                                <h1>CALDO DE PATA <br>------------------------------------------------------<br><br>•ﾠﾠ2 Patas de res <br><br>
                                    •ﾠﾠ1 kg de mote<br><br>
                                    •ﾠﾠ2 kg de papas<br><br>
                                    •ﾠﾠ1 Taza de maní tostado<br><br>
                                    •ﾠﾠ1 Taza de
                                    leche<br><br>
                                    •ﾠﾠ2 Cebollas blancas<br><br>
                                    •ﾠﾠ4 Dientes de ajo<br><br>
                                    •ﾠﾠ2 Cucharadas de culantro<br><br>
                                    •ﾠﾠ1 Manojo de cilantro<br><br>
                                    •ﾠﾠ1 Rama de cebolla<br><br>
                                    •ﾠﾠ1 ½ Litro de agua<br><br>
                                    •ﾠﾠ2 Cucharadas de aceite<br><br>
                                    •ﾠﾠSal al gusto<br></h1>
                            </div>
                        </div>
                        <div class="card__back">
                            <div class="body__card_back">
                                <h1>Preparación</h1>
                                <p>1. Llevar las patas al fuego en una olla de presión, añadir una cebolla troceada.
                                    Dejar cocinar hasta que ablanden las patas.<br>----------------------------------------------------------------<br>
                                2. Una vez blandas, se sacan y se parten en pedazos. Incorporarlas nuevamente al
                                    caldo junto con las ramas de cebolla y el culantro picadito.<br>----------------------------------------------------------------<br>
                                3. Cocinar aparte el mote y las papas.<br>----------------------------------------------------------------<br>
                                4. Batir en la licuadora, la leche con el maní. Reservar.<br>----------------------------------------------------------------<br>
                                5. En una sartén, colocar un poco de aceite y sofreír, una cebolla y el ajo
                                    picaditos. Añadir un punto de sal y la preparación de maní. Dejar hervir unos 5
                                    minutos.<br>----------------------------------------------------------------<br>
                                6. En el caldo con las patas, agregar el sofrito. Rectificar el sabor.<br>----------------------------------------------------------------<br>
                                7. Servir bien caliente, con el mote y las papas y un poco de cilantro
                                    espolvoreado.<br>----------------------------------------------------------------</p>
                                <input type="button" value="Añadir a Favoritos">
                                <form>
                                    <p class="clasificacion">
                                      <input id="radio1" type="radio" name="estrellas" value="5"><!--
                                      --><label for="radio1">★</label><!--
                                      --><input id="radio2" type="radio" name="estrellas" value="4"><!--
                                      --><label for="radio2">★</label><!--
                                      --><input id="radio3" type="radio" name="estrellas" value="3"><!--
                                      --><label for="radio3">★</label><!--
                                      --><input id="radio4" type="radio" name="estrellas" value="2"><!--
                                      --><label for="radio4">★</label><!--
                                      --><input id="radio5" type="radio" name="estrellas" value="1"><!--
                                      --><label for="radio5">★</label>
                                    </p>
                                  </form>
                            </div>
                        </div>
                    </div>
                </div>
    
            </div>
    
        </main>

        <footer>
            <div class="waves">
                <div class="wave" id="wave1"></div>
                <div class="wave" id="wave2"></div>
                <div class="wave" id="wave3"></div>
                <div class="wave" id="wave4"></div>
            </div>
            <div class="box">
                <figure class="iconos">
                    <img class="redes" src="/img/icono_twiter.png" alt="">
                    <img class="redes" src="/img/icono facebook.png" alt="">
                    <img class="redes" src="/img/icono instagram.png" alt="">
                    <img class="redes" src="/img/icono telegram.png" alt="">
    
                </figure>
            </div>
            <ul class="menu">
                <li><a>INICIO</a></li>
                <li><a>NOTICIAS</a></li>
                <li><a>CONTACTOS:</a>ㅤ0995321177</li>
            
            </ul>
            <p> ©2022 Grupo 6 |Content proyecto integrador-MA</p>
          </footer>
    </body>
    </html>