<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/LOGO 3.png">
    <title>Recetas-MUNDO CULINARIO</title>

    <link rel="stylesheet" href="/css/trucoscu.css">
</head>
<body>
    <body>
        <div class="container">
            <div class="navbar">
                 <img src="/img/LOGO 3.png" class="logo" alt="Main logo">
                 
                 <ul>
                    <li><a href="/html/paginaprincipal.html">Inicio</a></li>
                    <li><a href="/html/recetas nutriconal.html">Recetas</a>
                        <ul>
                            <li><a href="/html/recetas.Na.html">Nacionales</a></li>
                            <li><a href="/html/recetasnutricional.html">Nutricionales</a></li>
                            <li><a href="/html/recetastra.html">Tradicionales</a></li>
                            <li><a href="/html/postres.html">Postres</a></li>
                            <li><a href="/html/recetas.int.html">Internacionales</a></li>
                            <li><a href="/html/recetasexpress.html">Express</a></li>
                        </ul>
                    </li>
                    <li><a href="/html/consejos.html">Consejos</a>
                        <ul>
                            <li><a href="/html/addconsejo.html">Colaborar</a></li>                            
                        </ul>
                    </li>    
                    <li><a href="/html/añadir_receta.html">Consejo receta</a></li>
                    <li><a href="/html/noticias.html">Noticias</a>
                        
                    </li>
                    
                </ul>
                <a href="/html/inicio.html"><img src="/img/icono cerrar sesion.png"  class="exit" alt=""> </a>
            </div>
    <main>

    <div>
        <h1 class="titulo">TRUCOS CULINARIOS</h1>
                     
    </div>
        <div class="container__card">

            <div class="card__father">
                <div class="card">
                    <div class="card__front" style="background-image: url(/img-nt/freeze.jpeg);">
                        <div class="bg"></div>
                        <div class="body__card_front">
                            <h1>CONGELAR<br> Hay comidas que necesita manternerse congeladas si se las va a consumir al siguiente dia tales como:<br><br>----------------------------------------------------------<br><br>
                                ﾠﾠ■ Caldo de  verduras para preparar:  (sopas de verduras, cremas, purés, menestras, potajes de legumbres, arroces, etc…).<br><br>
                                ﾠﾠ■ Caldo de cocido para  (guisos, estofados, sopas, lentejas, arroz con carne, fabadas, etc…). <br><br>
                                ﾠﾠ■ Caldo de pescado (fumet) para (sopa de pescado, fideua, paella de marisco, pescado guisado, etc…).<br><br>
                                ﾠﾠ■ Caldo de pollo para ( paella de pollo, sopa de fideos, potajes, etc…).<br><br>
                            </h1>
                        </div>
                    </div>
                    <div class="card__back">
                        <div class="body__card_back">
                            <h1>TIP 1</h1>
                            <p>Generalmente las comidas tienen a liberar toxinas luego de un periodo de tiempo (depende el producto) por eso te hemos ofrecido esta pequeña lista que te ayudara a que esas comidas te duren un poco mas de tiempo del habitual, HAY QUE TENER EN CUENTA que todo lo que es carnes debe siempre de mantenerse congelado luego usarlo o prepararlo<br><br>
                            Salsas de guisos (carne, pollo, pavo, conejo, pescados, etc).
                            Las salsas de los guisos tampoco solemos consumirlas por completo, acostumbran a estar muy concentradas, las congelaremos en bandejas de cubitos de hielo. De esta manera elaboramos nuestros propios cubitos de carne, pollo o pescado, naturales y saludables, sin colorantes ni conservantes. Cuando necesitemos utilizarlos añadimos los cubitos que creamos necesarios. No requieren descongelación, como son pequeños se funden, inmediatamente, con el calor.<br><br>
                            </p>
                            
                        </div>
                    </div>
                </div>
            </div>

            <div class="card__father">
                <div class="card">
                    <div class="card__front" style="background-image: url(/img/butter.jpg);">
                        <div class="bg"></div>
                        <div class="body__card_front">
                            <h1>DERRETIR MANTEQUILLA<br><br>----------------------------------------------------------<br><br>
                                ■ Conseguiremos derretirla en pocos minutos si lo hacemos en el microondas, programa «DESCONGELAR», este programa tiene una potencia muy baja y no se quemará. Lo haremos a intervalos de 1 / 2 minutos, dependiendo de la cantidad, hasta que se funda.<br><br>
                                </h1>
                        </div>
                    </div>
                    <div class="card__back">
                        <div class="body__card_back">
                            <h1>TIP 2</h1>
                            <p>Generalmente la mantequilla derretida se utiliza mucho en la reposteria pero aqui te traemos un par de tips para usarlo en otras recetas.
                                <br><br>----------------------------------------------------------<br><br>
                                Puedes derretir mantequilla en un sarte grande, una vez ya liquida puede sellar carne en ella o a su vez puedes terminar la coccion de la misma y tendra un sabor inigualable.<br><br>
                                <br><br>----------------------------------------------------------<br><br>
                                Otra forma de usar la mantequilla derretida es para hacer chocobananas, esto derritiendo cocholate en baño maria, aparte la mantequilla y podras untar las cosas sobre lo que quieras chocolatizar.<br><br>
                                </p>
                            
                        </div>
                    </div>
                </div>
            </div>

            <div class="card__father">
                <div class="card">
                    <div class="card__front" style="background-image: url(/img/pulpo.jpg);">
                        <div class="bg"></div>
                        <div class="body__card_front">
                            <h1>PULPO<br>Preparar mariscos es algo muy sencillo, sin embargo te ayudaremos con estos tips.<br><br>----------------------------------------------------------<br><br>
                                ■ Previo a cocinarlo, lo vamos a meter en el agua hirviendo por unos 3 segundo, lo sacamos y volvemos a repetir este proceso por 2 veces mas, luego lo haremos en dos tiempos: tiempo de cocción y tiempo de reposo. <br><br>----------------------------------------------------------<br><br>Calculamos 20/25 minutos por cada kilogramo de pulpo (depende si nos gusta «al dente» o más blando). De este modo si un pulpo pesa 2 kg necesitamos 40/50 minutos.<br><br>----------------------------------------------------------<br><br> Tiempo de cocción 20/25 minutos, tiempo de reposo 20/25 minutos. Iniciamos el tiempo de cocción cuando comience a hervir.   <br><br>
                                </h1>
                        </div>
                    </div>
                    <div class="card__back">
                        <div class="body__card_back">
                            <h1>TIP 3</h1> 
                            <p>Al momento de lavar un pulpo previo a cocinarlo es importante retirarlo el pico, no es algo malo, pero puede llegar a lastimas <br><br>----------------------------------------------------------<br><br>
                            Cuando vayas a lavar almejas, mejillones o conchas, una forma facil es hacerlo con un lustre de aliminio, eso ayudara a que queden limpios en segundos
                            <br><br>----------------------------------------------------------<br><br>
                            Para limpiar camarones creo la forma mas facil de hacerlo es abrirlo con un cuchillo de pan, lo abres y a la vez sale todo lo que no se desea consumir
                            </p>
                            
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </main>
    <footer>
        <div class="waves">
            <div class="wave" id="wave1"></div>
            <div class="wave" id="wave2"></div>
            <div class="wave" id="wave3"></div>
            <div class="wave" id="wave4"></div>
        </div>
        <div class="box">
            <figure class="iconos">
                <img class="redes" src="/img/icono_twiter.png" alt="">
                <img class="redes" src="/img/icono facebook.png" alt="">
                <img class="redes" src="/img/icono instagram.png" alt="">
                <img class="redes" src="/img/icono telegram.png" alt="">

            </figure>
        </div>
        <ul class="menu">
            <li><a>INICIO</a></li>
            <li><a>NOTICIAS</a></li>
            <li><a>CONTACTOS:</a>ㅤ0995321177</li>
        
        </ul>
        <p> ©2022 Grupo 6 |Content proyecto integrador-MA</p>
      </footer>
</body>
</html>