{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static '/img/LOGO 3.png' %}">
    <title>Recetas-MUNDO CULINARIO</title>

    <link rel="stylesheet" href="{% static '/css/trucoscu.css' %}">
</head>
<body>
    <body>
        <div class="container">
            <div class="navbar">
                <img src="{% static '/img/LOGO 3.png' %}" class="logo" alt="Main logo">
                 
                 <ul>
                    <li><a href="/consejos/paginaprincipal/">Inicio</a></li>
                    <li><a href="/consejos/recetasnutricional/">Recetas</a>
                        <ul>
                            <li><a href="/consejos/card/">Nacionales</a></li>
                            <li><a href="/consejos/recetasnutricional/">Nutricionales</a></li>
                            <li><a href="/consejos/recetastra/">Tradicionales</a></li>
                            <li><a href="/consejos/postres/">Postres</a></li>
                            <li><a href="/consejos/recetasint/">Internacionales</a></li>
                            <li><a href="/consejos/recetasexpress/">Express</a></li>
                        </ul>
                    </li>
                    <li><a href="/consejos/consejos/">Consejos</a>
                        <ul>
                            <li><a href="/consejos/">Colaborar</a></li>
                            
                        </ul>
                    </li>  
                    <li><a href="/consejos/addrecet/">Consejo receta</a></li>
                    <li><a href="/consejos/noticias/">Noticias</a>
                    </li>
                    
                    
                </ul>
                <a href="/consejos/inicio/"><img src="{% static 'img/icono cerrar sesion.png' %}"  class="exit" alt=""> </a>
            </div>
    <main>

    <div>
        <h1 class="titulo">TRUCOS CULINARIOS</h1>
                     
    </div>
        <div class="container__card">

            <div class="card__father">
                <div class="card">
                    <div class="card__front" style="background-image: url(/static/img-nt/freeze.jpeg);">
                        <div class="bg"></div>
                        <div class="body__card_front">
                            <h1>CONGELAR<br> Hay comidas que necesita manternerse congeladas si se las va a consumir al siguiente dia tales como:<br><br>----------------------------------------------------------<br><br>
                                ﾠﾠ■ Caldo de  verduras para preparar:  (sopas de verduras, cremas<br><br>
                                ﾠﾠ■ Caldo de cocido para  (guisos, estofados, sopas etc…). <br><br>
                                ﾠﾠ■ Caldo de pescado (fumet) para (sopa de pescado, fideua,  etc…).<br><br>
                                ﾠﾠ■ Caldo de pollo para ( paella de pollo, etc…).<br><br>
                            </h1>
                        </div>
                    </div>
                    <div class="card__back">
                        <div class="body__card_back">
                            <h1>TIP 1</h1>
                            <p>Generalmente las comidas tienen a liberar toxinas luego de un periodo de tiempo (depende el producto) por eso te hemos ofrecido esta pequeña lista que te ayudara a que esas  <br><br>.
                            Las salsas de los guisos tampoco solemos consumirlas por completo<br><br>
                            </p>
                            
                        </div>
                    </div>
                </div>
            </div>

            <div class="card__father">
                <div class="card">
                    <div class="card__front" style="background-image: url(/static/img/butter.jpg);">
                        <div class="bg"></div>
                        <div class="body__card_front">
                            <h1>DERRETIR MANTEQUILLA<br><br>----------------------------------------------------------<br><br>
                                ■ Conseguiremos derretirla en pocos minutos si lo hacemos en el microondas.<br><br>
                                </h1>
                        </div>
                    </div>
                    <div class="card__back">
                        <div class="body__card_back">
                            <h1>TIP 2</h1>
                            <p>Generalmente la mantequilla derretida se utiliza mucho en la reposteria .
                                <br><br>----------------------------------------------------------<br><br>
                                Puedes derretir mantequilla en un sarte grande, una vez ya liquida puede sellar carne en ella o a su vez .<br><br>
                                <br><br>----------------------------------------------------------<br><br>
                                Otra forma de usar la mantequilla derretida es para hacer chocobananas.<br><br>
                                </p>
                            
                        </div>
                    </div>
                </div>
            </div>

            <div class="card__father">
                <div class="card">
                    <div class="card__front" style="background-image: url(/static/img/pulpo.jpg);">
                        <div class="bg"></div>
                        <div class="body__card_front">
                            <h1>PULPO<br>Preparar mariscos es algo muy sencillo, sin embargo te ayudaremos con estos tips.<br><br>----------------------------------------------------------<br><br>
                                ■ Previo a cocinarlo, lo vamos a meter en el agua hirviendo por unos 3 segundo, lo sacamos <br><br>
                                </h1>
                        </div>
                    </div>
                    <div class="card__back">
                        <div class="body__card_back">
                            <h1>TIP 3</h1> 
                            <p>Al momento de lavar un pulpo previo a cocinarlo es importante retirarlo el pico, no es algo malo, pero puede llegar a lastimas <br><br>----------------------------------------------------------<br><br>
                            Cuando vayas a lavar almejas, mejillones o conchas, una forma facil es hacerlo con un lustre de aliminio, eso ayudara a que queden limpios en segundos
                            <br><br>----------------------------------------------------------<br><br>
                            Para limpiar camarones creo la forma mas facil de hacerlo es abrirlo con un cuchillo de pan, lo abres y a la vez sale todo lo que no se desea consumir
                            </p>
                            
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </main>
    <footer>
        <div class="waves">
            <div class="wave" id="wave1"></div>
            <div class="wave" id="wave2"></div>
            <div class="wave" id="wave3"></div>
            <div class="wave" id="wave4"></div>
        </div>
        <div class="box">
            <figure class="iconos">
                <img class="redes" src="{% static '/img/icono_twiter.png' %}" alt="">
                <img class="redes" src="{% static '/img/icono facebook.png' %}" alt="">
                <img class="redes" src="{% static '/img/icono instagram.png' %}" alt="">
                <img class="redes" src="{% static '/img/icono telegram.png' %}" alt="">

            </figure>
        </div>
        <ul class="menu">
            <li><a>INICIO</a></li>
            <li><a>NOTICIAS</a></li>
            <li><a>CONTACTOS:</a>ㅤ0995321177</li>
        
        </ul>
        <p> ©2022 Grupo 6 |Content proyecto integrador-MA</p>
      </footer>
</body>
</html>